Assignment2/__pycache__
Assignment3/Task1/.vs
Assignment3/Task1/Debug
Assignment3/Task1/Task1/Debug
Assignment3/Task1/x64
Assignment3/Task2/.vs
Assignment3/Task2/Debug
Assignment3/Task2/Task2/Debug
Assignment4/FreedomGame/.vs
Assignment4/FreedomGame/Debug
Assignment4/FreedomGame/FreedomGame/Debug